<div id="full-datospersonales" class="full">
    <div class="well shadow" style="background-color:white;">
        <table width="100%">
            <tr>
                <td valign="middle" align="left">
                    <a href="#" class="btnArea" data-area=".inicio">
                        <i class="material-icons" style="color:silver;font-size:40px;">arrow_back</i>
                    </a>
                </td>
                <td valign="middle" align="left" class="back-buscar" width="100%">
                    <img class="img-area" src="img/datospersonales.png" style="height:64px;" />
                    <span style="color:white;padding:0px;margin:0px;font-size:20px;" class="title-area">Datos personales</span>
                </td>
            </tr>
        </table>
    </div>
</div>
