<div class="container text-center">
    <div class="container-full">
        <div style="padding-top: 0px; padding-bottom: 0px;">
            <div class="btn-title-comun"><img class="img-menu pull-left" src="sml.png" alt="" /> <span class="txt-menu-comun">Alerta de actualización</span></div>
        </div>
        <h1>Debe actualizar esta aplicación</h1>
        <p>
            Una nueva versión de la aplicación Jelper, ha sido puesta a disposición de los usuarios.
        </p>
        <p>
            Si no tiene activa la actualización automática de sus aplicaciones por favor realice la actualización en forma manual, para poder seguir utilizando estos servicios.
        </p>
    </div>
</div>
