<div class="container text-center">
    <h1><img src="splash.png" /></h1>
    <h1>Hay problemas con la conexión a Internet</h1>
    <table style="margin-left: auto;margin-right: auto;">
        <tr>
            <td valign="middle" align="center">
                <a href="#" id="btnReconnect" class="btnReconnect btn btn-danger btn-raised">
                    <i class='fa fa-history fa-2x' aria-hidden='true'></i> Reintentar
                </a>
            </td>
            <td valign="middle" align="center">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-wifi fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
            </td>
        </tr>
    </table>
</div>
