<div id="modal_forget_password" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Recuperación de contraseña</h1>
            </div>
            <div class="modal-body">
                <table style="width:70%;margin-top:30px;" align="center">
                    <tr>
                        <td>
                            <select class="form-control validateRecover dbaseRecover tipodocumento" id="tipodocumento" name="tipodocumento">
                                <option value="" disabled selected>[Tipo de documento]</option>
                                <option value="89">LE
                                <option value="90">LC</option>
                                <option value="94">PASAPORTE</option>
                                <option value="96">DNI</option>
                                <option value="97">DNI extranjero</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control number validateRecover dbaseRecover documento" type="number" id="documento" name="documento" placeholder="Nº de documento" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="sex validateRecover dbaseRecover form-control sex" id="sex" name="sex" placeholder="Sexo">
                                <option value="" disabled selected>Sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#" data-modal="modal_forget_password" data-action="drop" class="recover-in btnActionModal btn btn-danger btn-raised pull-left">Cancelar</a>
                <a href="#" data-modal="modal_forget_password" data-action="save" class="recover-in btnActionModal btn btn-success btn-raised pull-right">Confirmar</a>
                <a href="#" data-modal="modal_forget_password" data-action="drop" class="hidden recover-out btnActionModal btn btn-primary btn-raised pull-right">Cerrar</a>
            </div>
        </div>
    </div>
</div>
