<div id="full-inicio" class="full">
    <div class="container-full" style="margin-top:5px;padding-left:5px;padding-right:5px;">
        <table style="width:100%;">
            <tr>
                <td align="left" width="45%">
                    <button class="btn-buscar" style="color:#445bc1;width:100%;"><img src="lupa.png" style="height:40px;" />Buscar Beneficios</button>
                </td>
                <td align="right" width="55%">
                    <button class="btn-asistencias"><a href="tel:08009991515" style="color:white;"><img src="img/asistencias.png" style="height:40px;" />Asistencias</a></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="menu-inicio hidden" style="padding-left:15px;padding-right:15px;">
        <button class="btn-menu-inicio">
            <a href="tel:08002221441">
                <img src="img/categories/emergencias-i.png" class="img-menu pull-left" /><span class="txt-menu-comun">Emergencias médicas</span>
            </a>
        </button>
        <button class="btn-menu-inicio">
            <a href="tel:08002221441">
                <img src="img/categories/domicilio-i.png" class="img-menu pull-left" /><span class="txt-menu-comun">Médico a domicilio</span>
            </a>
        </button>
        <button class="btn-menu-inicio btn-resolve-inicio" data-type="atencion-medica">
            <img src="img/categories/atencion-i.png" class="img-menu pull-left" />
            <span class="txt-menu-comun">Atención médica</span>
        </button>
        <button class="btn-menu-inicio btn-resolve-inicio" data-type="farmacias">
            <img src="img/categories/farmacias-i.png" class="img-menu pull-left" />
            <span class="txt-menu-comun">50% Farmacias</span>
        </button>
        <button class="btn-menu-inicio btn-resolve-inicio" data-type="cines">
            <img src="img/categories/cines-i.png" class="img-menu pull-left" />
            <span class="txt-menu-comun">2x1 Cines</span>
        </button>
        <button class="btn-menu-inicio btn-resolve-inicio btn-inicio-multinivel" data-type="categorias">
            <img src="img/categories/otros-i.png" class="img-menu pull-left" />
            <span class="txt-menu-comun">Otros beneficios</span>
        </button>
    </div>
    <div class="categorias-control container-full" style="padding:0px;margin:0px;width:100%;padding-top:15px;">
        <div id="carouselInicio" class="carousel slide rounded" data-ride="carousel" data-interval="false" style="padding:0px;margin:0px;">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="display:none;"></ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner inner-categorias" style="min-height:300px;height:100%;"></div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#carouselInicio" data-slide="prev" style="margin-left:-20px;display:none;">
                <span class="glyphicon glyphicon-chevron-left" style="color:#445bc1;font-size:1.75em;"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carouselInicio" data-slide="next" style="margin-right:-20px;display:none;">
                <span class="glyphicon glyphicon-chevron-right" style="color:#445bc1;font-size:1.75em;"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
