<div id="modal_newpassword" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Generar una nueva contraseña</h1>
            </div>
            <div class="modal-body">
                <p style="color:navy;">La nueva contraseña debe contener al menos dos números, una letra mayúscula y una minúscula, con una longitud de al menos 6 caracteres</p>

                    <table style="width:70%;margin-top:30px;" align="center">
                        <tr>
                            <td>
                                <select class="form-control validateNewPassword dbaseNewPassword tipodocumento" id="tipodocumento" name="tipodocumento">
                                    <option value="" disabled selected>[Tipo de documento]</option>
                                    <option value="89">LE
                                    <option value="90">LC</option>
                                    <option value="94">PASAPORTE</option>
                                    <option value="96">DNI</option>
                                    <option value="97">DNI extranjero</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control number validateNewPassword dbaseNewPassword documento" type="number" id="documento" name="documento" placeholder="Nº de documento" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="sex validateNewPassword dbaseNewPassword form-control sex" id="sex" name="sex" placeholder="Sexo">
                                    <option value="" disabled selected>Sexo</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Ingrese nueva contraseña</label>
                                <input class="form-control text validateNewPassword dbaseNewPassword password" type="password" id="new_password" name="new_password" placeholder="Nueva contraseña" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Repita la nueva contraseña</label>
                                <input class="form-control text validateNewPassword dbaseNewPassword password" type="password" id="repeat_password" name="repeat_password" placeholder="Repetir contraseña" />
                            </td>
                        </tr>
                    </table>
</div>
            <div class="modal-footer">
                <a href="#" data-modal="modal_newpassword" data-action="drop" class="recover-in btnActionModal btn btn-danger btn-raised pull-left">Cancelar</a>
                <a href="#" data-modal="modal_newpassword" data-action="save" class="recover-in btnActionModal btn btn-success btn-raised pull-right">Confirmar</a>
            </div>
        </div>
    </div>
</div>
