<div id="modal_terminos" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Términos y condiciones de uso</h1>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer" style="margin-bottom:35px;">
                <!--
                <a href="#" data-modal="modal_terminos" data-action="drop" class="btnActionModal btn btn-danger btn-raised pull-left">No aceptar</a>
                -->
                <a href="#" data-modal="modal_terminos" data-action="save" class="btnActionModal btn btn-success btn-raised pull-right">Aceptar</a>
            </div>
        </div>
    </div>
</div>
