<div id="modal_acercade" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="well shadow" style="background-color:white;">
                    <table width="100%">
                        <tr>
                            <td valign="middle" align="left">
                                <a href="#" data-modal="modal_acercade" data-action="drop" class="btnActionModal">
                                    <i class="material-icons" style="color:silver;font-size:40px;">arrow_back</i>
                                </a>
                            </td>
                            <td valign="middle" align="right">
                                <h1 class="modal-title" style="color:#445bc1;padding:0px;margin:0px;"> Acerca de Club Redondo</h1>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-body" style="margin-top:0px;padding-top:0px;">
                <h3>¿Qué es Club Redondo?</h3>
                <p>Es el programa de beneficios que te permite ahorrar en cada compra que realizas o servicio que contratas!.  Tenemos beneficios pensados especialmente para que nuestros Socios disfruten con amigos y familiares.</p>
                <h3>¿Por qué es diferente a otros programas de beneficios?</h3>
                <p>Club Redondo es el único programa de beneficios cuyo fin esencial es el compromiso social; por esto, buscamos permanentemente ofertas, descuentos y promociones que se traduzcan en oportunidades de ahorro para la economía diaria de nuestros Socios.</p>
                <h3>Nuestros beneficios</h3>
                <p>Los beneficios son: ilimitados, económicos, fáciles de usar, están disponibles las 24hs. y tienen un gran alcance geográfico.</p>
                <h3>Credencial Virtual</h3>
                <p>En Club Redondo cada socio tiene una credencial digital de pertenencia al Club.</p>
                <h3>Sorteos</h3>
                <p>Todos los meses, Club Redondo realiza sorteos exclusivos para sus Socios que por el sólo hecho de contar con la membresía del club participan de los mismos.</p>
                <h3>Canales de Atención al Socio</h3>
                <ul>
                    <li>Contact Center: <a href="tel:08106662582">0810 666 2582</a></li>
                    <li>Whatsapp: <a href="https://api.whatsapp.com/send?phone=1161602919">11 6160 2919</a></li>
                    <li>Mail: <a href="mailto:info@clubredondo.com.ar">info@clubredondo.com.ar</a></li>
                    <li>Redes Sociales: <a href="https://www.facebook.com/credipazcp/">Facebook</a> e <a href="https://www.instagram.com/credipazcp/?hl=es-la">Instagram</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn-aux btn-asociate btnAdherirJelper nosocio">Asociate</button>
            </div>
        </div>
    </div>
</div>
