<div id="modal_credencial" class="modal fade" style="width:100%;margin:0px;padding:0px;">
    <div class="modal-dialog" style="width:100%;margin:0px;padding:0px;">
        <div class="modal-content" style="width:100%;margin:0px;padding:0px;padding-left:15px;padding-right:15px;padding-bottom:5px;">
            <div class="header-credencial" style="padding:0px;">
                <button type="button" data-modal="modal_credencial" data-action="drop" class="close btnActionModal btn btn-primary btn-raised" style="font-size:24px;position:absolute;right:0px;bottom:0px;opacity:0.75;padding:5px;">
                    <span aria-hidden='true'>&times;</span>
                </button>
                <img class="img-credencial hidden" src="" style="width:100%;" />
            </div>
            <div class="footer-credencial">
                <a href="#" class="btnCanjearBeneficio btn-comun">Confirmar el canje</a>
            </div>
        </div>
    </div>
</div>
