<div id="modal_verify_out" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Salir de Jelper</h1>
            </div>
            <div class="modal-body">
                <p>Decinos si querés que te volvamos a preguntar quién sos al volver a ingresar, marcando la casilla de abajo antes de salir.</p>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" style="margin-top: 0;">
                            <div class="checkbox">
                                <label style="color:black;">
                                    <input type="checkbox" id="chkRecordarme" name="chkRecordarme" /> <span style="font-size:12px;">¡Acordate quién soy!</span> 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-modal="modal_verify_out" data-action="drop" class="btnActionModal btn btn-danger btn-raised pull-left">No salir</a>
                <a href="#" data-modal="modal_verify_out" data-action="save" class="btnActionModal btn btn-success btn-raised pull-right">Salir</a>
            </div>
        </div>
    </div>
</div>
