<div id="modal_miscupones" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="well shadow" style="background-color:white;">
                    <table width="100%">
                        <tr>
                            <td valign="middle" align="left">
                                <a href="#" data-modal="modal_miscupones" data-action="drop" class="btnActionModal">
                                    <i class="material-icons" style="color:silver;font-size:40px;">arrow_back</i>
                                </a>
                            </td>
                            <td valign="middle" align="right">
                                <h1 class="modal-title" style="color:#445bc1;padding:0px;margin:0px;"> Mis cupones</h1>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
