<div id="modal_sorteos" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="well shadow" style="background-color:white;">
                    <table width="100%">
                        <tr>
                            <td valign="middle" align="left">
                                <a href="#" data-modal="modal_sorteos" data-action="drop" class="btnActionModal">
                                    <i class="material-icons" style="color:silver;font-size:40px;">arrow_back</i>
                                </a>
                            </td>
                            <td valign="middle" align="right">
                                <h1 class="modal-title" style="color:#445bc1;padding:0px;margin:0px;"> Sorteos</h1>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <div class="container" style="background-color:transparent;">
                    <div id="carouselSorteos" class="carousel slide rounded" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators"></ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner"></div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carouselSorteos" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouselSorteos" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--
                <a href="#" data-modal="modal_credencial" data-action="drop" class="btnActionModal btn btn-info btn-raised pull-left">Cerrar</a>
                    -->
            </div>
        </div>
    </div>
</div>
