.back-buscar {
    border-radius: 10px;
    background: #7a2682;
}

.sub-abstract {
    border-radius: 10px;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-collapse: inherit;
    color: #7a2682;
    border-color: #7a2682;
}

.sub-otros {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-autos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-motos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-agencias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-lavaderos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-repuestos-y-accesorios {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-esteticas {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-peluquerias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-barberias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-gimnasios {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-opticas {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-acompanante-terapeutico {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-clinicas {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-farmacias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-laboratorios {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-nutricion {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-pediatria {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-oftalmologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-dermatologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-urologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-gastroenterologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-nutricion {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-cardiologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-ginecologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-obstetricia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-clinica-medica {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-cirugia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-otorrinolaringologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-fonoaudilogia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-kinesiologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-traumatologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-psiquiatria {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-psicologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-rayos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-laboratorio {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-odontologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-ortopedias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-restaurantes {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-delivery {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-comidas-rapidas {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-pastelerias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-bares-y-cafeterias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-heladerias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-actividades-recreativas {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-cines {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-eventos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-juegos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-jugueterias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-librerias {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-teatros {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-agencias-de-turismo {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-alquiler-de-vehiculos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-asistencia-al-viajero {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-excursiones {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-hoteles {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-mujeres {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-hombres {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-ninos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-unisex {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-electrodomesticos {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-tecnologia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-seguro {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-asistencia {
    color: #7a2682;
    border-color: #7a2682;
}

.sub-cartilla {
    color: #7a2682;
    border-color: #7a2682;
}

.back-farmacia {
    border-radius: 10px;
    background: #58dbac;
}

.back-farmacias {
    border-radius: 10px;
    background: #58dbac;
}

.back-vehiculos {
    border-radius: 10px;
    background: #7a2682;
}

.back-supermercados {
    border-radius: 10px;
    background: #7a2682;
}

.back-hogar {
    border-radius: 10px;
    background: #7a2682;
}

.back-educacion {
    border-radius: 10px;
    background: #7a2682;
}

.back-cuidado-personal {
    border-radius: 10px;
    background: #7a2682;
}

.back-salud {
    border-radius: 10px;
    background: #7a2682;
}

.back-gastronomia {
    border-radius: 10px;
    background: #7a2682;
}

.back-entretenimiento {
    border-radius: 10px;
    background: #7a2682;
}

.back-turismo {
    border-radius: 10px;
    background: #7a2682;
}

.back-indumentaria {
    border-radius: 10px;
    background: #7a2682;
}

.back-electro {
    border-radius: 10px;
    background: #7a2682;
}

.back-otros {
    border-radius: 10px;
    background: #7a2682;
}

.back-combustibles {
    border-radius: 10px;
    background: #7a2682;
}

.back-alimentos {
    border-radius: 10px;
    background: #7a2682;
}

.back-mascotas {
    border-radius: 10px;
    background: #7a2682;
}

.back-cines {
    border-radius: 10px;
    background: #7a2682;
}

.back-atencion {
    border-radius: 10px;
    background: #718bff;
}

.back-cartilla {
    border-radius: 10px;
    background: #7a2682;
}

.back-asistencia {
    border-radius: 10px;
    background: #7a2682;
}

.back-seguro {
    border-radius: 10px;
    background: #7a2682;
}
